/* Components */
.button {
    display: inline-block;
    padding: calc(var(--spacing) * 0.5) var(--spacing);
    background-color: var(--color-purple);
    color: var(--color-yellow);
    border: 1px solid #000;
    transition: background-color var(--transition-time-short);
  }
  
  .button:hover {
    background-color: #000;
    color: var(--color-purple);
  }
  
  .card {
    border-radius: 10px;
    overflow: hidden;
  }
  